/*================================
    #RESPONSIVE CSS
====================================*/
/* Large Device: 1200px. */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .container-fluid.c-pd {
        padding: 0 1rem;
    }

    .work-box .work-desc {
        padding: 3rem 1rem 1.5rem 1rem;
    }

    .wh-left {
        padding-right: 3rem;
    }

    .wh-left {
        margin-top: -12px;
    }

    .wh-box {
        flex-direction: column;
    }

    .counter-wpr {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-widget-box.about-us {
        padding-right: 5rem;
    }

    .theme-bottom-price-btuoon {
        justify-content: flex-start;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .theme-single-pill .nav-pills .nav-item .nav-link {
        line-height: 1.5;
    }

    .course-info {
        padding: 1rem 1rem 1.5rem 1rem;
    }

    .course-syl-bottom {
        padding: 1.5rem;
    }

    .nav-pills .nav-link {
        margin-bottom: 2rem;
    }

    .price-box {
        padding: 5rem 3rem;
    }

    .comunity-wpr.grid-6 {
        grid-template-columns: repeat(4, 1fr);
    }

    .blog-box .blog-desc {
        padding: 3rem 1rem 1.5rem 1rem;
    }

}

@media only screen and (min-width: 991px) and (max-width: 1200px) {

    /*	Header Button*/

    .header-cart-btn {
        gap: 1.5rem;
        margin-left: 1.5rem;
    }

    .btn-4,
    .btn-5,
    .btn-6 {
        font-size: 1.4rem;
    }

    /*Hero*/

    .hero-single {
        height: auto;
        max-height: inherit;
        padding-bottom: 9rem;
    }

    .hero-single .hero-shape {
        top: -330px;
    }

    .hero-single .hero-content {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .hero-single .hero-right-pic {
        text-align: center;
        margin-top: 10rem;
    }

    .hero-right-pic {
        padding-left: 0;
    }

    .hero-single-2 {
        height: auto;
        padding-top: 5rem;
    }

    .hero-single-2 .hero-content {
        padding-bottom: 5rem;
        padding-right: 6rem;
    }

    .hero-single-2 .hero-content .hero-title {
        color: var(--clr-white);
        margin-bottom: 3rem;
        font-size: 40px;
        font-weight: 700;
        line-height: 57px;
    }

    .navbar .nav-item .nav-link {
        margin-right: 2rem;
    }

    .hero-social {
        height: 30rem;
        width: 30rem;
    }

    .hero-title {
        font-size: 48px;
        line-height: 60px;
    }

    .anim-icons {
        display: none;
    }

    /* dicover */
    .dicover-left {
        margin-bottom: 4rem;
    }

    /*Work*/

    .container-fluid.c-pd {
        padding: 0 1rem;
    }

    #portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .work-box .work-desc {
        padding: 1rem;
    }

    /*Course*/

    .course-wpr.grid-3 {
        grid-template-columns: repeat(2, 1fr)
    }

    .course-info-wrapper {
        grid-template-columns: 1fr;
    }

    .course-info {
        padding: 3rem 1rem 1.5rem 1rem;
    }

    /*	Latest Theme*/

    .latest-wpr.grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }

    /*Counter*/

    .counter-wpr.grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    /*Wh*/

    .wh-left {
        margin-bottom: 3rem;
    }

    .wh-left h2 {
        margin-top: -1.4rem;
    }

    .wh-area.bg-2 .wh-left.wh-2_1 {
        margin-top: 0;
        padding-left: 30px;
        padding-right: 30px;
    }

    .wh-2_1 {
        display: inherit;
        margin-top: 50px;
        margin-bottom: 0px;
    }

    .wh-area .icon-dots-2 {
        left: -253px !important;
        top: 24% !important;
    }

    .pagination {
        margin: 6rem 0rem 3rem
    }

    .pagination.cnt {
        margin: 8rem 0rem 0rem 0rem;
    }

    /*	Service*/
    .service-box {
        padding: 4rem 2rem;
    }

    /* product  */
    .theme-pic img {
        width: 100%;
    }

    .about-left.style-2 {
        margin-top: 0;
    }

    .about-left {
        margin-top: -15px;
    }

    /* Blog*/

    .blog-wpr.grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }

    /* login  */
    .maan-user-account-wraper {
        margin: 0 100px;
    }

    .profile-area .icon-circle-1 {
        bottom: -295px;
    }

    /* how  */
    .how-wpr .how-shape img {
        width: 70%;
    }

    .how-wpr .how-shape {
        left: 175px;
    }

    /* ccn  */
    .ccn-left p {
        padding-right: 0rem;
    }

    /*Footer*/
    .footer-widget-box.about-us {
        margin-top: -5px;
    }

    .footer-widget-wpr {
        grid-template-columns: 1fr 1fr;
    }

    /* Contact*/

    .contact-page-info.grid-2 {
        grid-gap: 5rem;
    }

    /*	Price*/

    .price-wpr.grid-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .price-box {
        padding: 3rem 2rem;
    }

    /*	Comunity*/

    .comunity-wpr.grid-6 {
        grid-template-columns: repeat(3, 1fr);
    }

    .seller-pic img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    .seller-box {
        padding: 3rem 2px;
    }

    .how-box {
        padding: 0 4rem;
    }

}

/* Tablet Layout: 768px.*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

    /*	Grid*/
    .grid-2 {
        grid-template-columns: 1fr;
    }

    .grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    /*	Nav*/

    nav.navbar.bootsnav .navbar-toggle {
        margin-top: 25px;
    }

    /*NavBar*/

    .navbar ul.navbar-nav .nav-item a {
        color: var(--clr-heading) !important;
    }

    .navbar.sticked.in ul.navbar-nav .nav-item a {
        color: var(--clr-heading);
    }

    nav.navbar.bootsnav .navbar-toggle {
        margin-top: 2.5rem;
    }

    .navbar {
        padding: 2rem;
        background-color: var(--clr-white);
    }

    .dropdown-menu .dropdown-item {
        font-size: 1.6rem !important
    }

    .header-cart-btn {
        display: none;
    }

    .header-1 {
        padding-top: 0;
    }

    /*Hero*/

    .hero-single {
        height: auto;
        max-height: initial;
        padding-bottom: 55px;
    }

    .hero-single .hero-content {
        padding-top: 5rem;
    }

    .hero-single .hero-content h2 {
        font-size: 3.6rem;
        line-height: 1.1;
    }

    .hero-content p {
        font-size: 1.6rem;
        line-height: 3rem;
    }

    .hero-right-pic {
        padding-left: 0;
        padding-top: 10rem;
    }

    .hero-right-pic .hero-1 {
        display: none;
    }

    .hero-right-pic .hero-2 {
        display: none;
    }

    .hero-right-pic .hero-3 {
        display: none;
    }

    .hero-social-move {
        top: 3rem;
    }

    /*	Home 2*/

    .hero-single-2 {
        height: auto;
    }

    .hero-single-2 .hero-content {
        padding-bottom: 0rem;
        padding-right: 0rem;
        padding-top: 5rem;
    }

    /*	Service*/

    .service-box-2 {
        align-items: flex-start;
        flex-direction: column;
    }

    /*	Discover*/
    .about-left.style-2 {
        margin-top: 0px;
    }

    .about-left {
        margin-top: -17px;
    }

    .discover-title {
        font-size: 40px;
    }

    .discover-item.grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .title-button .site-title {
        margin-top: -10px;
    }

    /*Work*/

    .container-fluid.c-pd {
        padding: 0 1rem;
    }

    .work-box .work-desc {
        padding: 1rem;
    }

    #portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    /*	Wh*/

    .wh-right.grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .wh-box {
        flex-direction: column;
    }

    .wh-area.bg-2 .wh-left.wh-2_1 {
        margin-top: 0;
    }

    .wh-left.wh-2_1 {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .wh-left {
        padding-right: 0;
        margin-bottom: 3rem;
        margin-top: -12px;
    }

    /*Counter*/

    .counter-area {
        position: relative;
        z-index: 2;
    }

    /*Course*/

    .course-info-wrapper {
        grid-template-columns: 1fr;
    }

    .course-video-wrp {
        align-items: flex-start;
        flex-direction: column;
        gap: 2rem;
    }

    .course-info {
        padding: 1.5rem 0rem 1.5rem 0rem;
    }

    .course-syl-bottom .nav {
        display: flex;
        flex-wrap: inherit;
    }

    .nav-pills .nav-link {
        padding: 1.2rem 2rem;
        line-height: 1.4;
    }

    /* login  */
    .maan-user-account-wraper {
        margin: 0 50px;
    }

    /* how  */
    .how-wpr .how-shape {
        display: none;
    }

    /* ccn  */
    .ccn-left {
        margin-top: -15px;
    }

    .how-wpr .how-shape img {
        width: 60%;
    }

    /*	Product*/

    .product-grid-app.grid-2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .profile-area .icon-circle-1 {
        display: none;
    }

    /*Footer*/

    .footer-widget-wpr {
        grid-template-columns: 1fr 1fr;
    }

    /*Contact*/

    .contact-page-info.grid-2 {
        grid-gap: 5rem;
    }

    /*Price*/

    .price-box {
        padding: 6rem 5rem;
    }

    /*	Theme SIngle*/

    .theme-meta {
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        gap: 2rem;
    }

    /*	Career*/

    .comunity-wpr.grid-6 {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(3, 1fr);
    }

    .part-single .part-single-content ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .site-title-2 h2 {
        font-size: 30px;
        line-height: 42px;
    }

    .site-title-2 h2 {
        margin-top: -8px;
    }

    .part-right-bt {
        text-align: left;
        margin-top: 2rem;
        margin-left: 5rem;
    }

    /*	Work*/

    .title-button {
        flex-direction: column;
    }

    .title-button .site-title {
        margin-bottom: 3rem;
    }

    /*	Discover*/
    .dicover-left {
        margin-bottom: 3rem;
    }

    .discover-title {
        margin-bottom: 3rem;
    }

    /*	Pagination*/
    .pagination {
        margin-top: 4rem;
        margin-bottom: 1rem;
    }

    .pagination.cnt {
        margin: 8rem 0rem 0rem 0rem;
    }

    /*	Carrer*/
    .ecp-yrr {
        border: none;
    }

    .footer-widget-box.about-us {
        margin-top: -5px;
    }

    .how-box {
        padding: 0 4rem;
    }

}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

    .site-title h2 {
        font-size: 3rem;
        line-height: 1.5;
    }

    .site-breadcrumb .breadcrumb-title {
        font-size: 3rem;
    }

    /*	Padding*/

    .de-padding {
        padding: 5rem 0;
    }

    .de-pt {
        padding-top: 5rem;
    }

    .pt-120 {
        padding-top: 5rem;
    }

    .pt-105 {
        padding-top: 5rem;
    }

    .pt-210 {
        padding-top: 13rem;
    }

    .de-pb {
        padding-bottom: 5rem;
    }

    .pb-120 {
        padding-bottom: 5rem;
    }

    .pb-105 {
        padding-bottom: 5rem;
    }

    .pb-80 {
        padding-botto: 5rem;
    }

    /*	Breadcrumb*/

    .main-breadcrumb {
        padding: 0;
        text-align: center;
    }

    .site-breadcrumb-title h2 {
        font-size: 3rem;
        line-height: 1;
        margin-bottom: 1rem;
    }

    /*NavBar*/

    .navbar ul.navbar-nav .nav-item a {
        color: var(--clr-heading) !important;
    }

    .navbar.sticked.in ul.navbar-nav .nav-item a {
        color: var(--clr-heading);
    }

    nav.navbar.bootsnav .navbar-toggle {
        margin-top: 2.5rem;
    }

    .navbar {
        padding: 1rem;
        background-color: var(--clr-white);
    }

    .dropdown-menu .dropdown-item {
        font-size: 1.6rem !important
    }

    /*	grids*/

    .grid-2 {
        grid-template-columns: 1fr;
    }

    .grid-3 {
        grid-template-columns: 1fr;
    }

    .grid-4 {
        grid-template-columns: 1fr;
    }

    /*	Header Top*/

    .header-top-list {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
        flex-direction: column;
    }

    /*	Hero*/

    .header-1 {
        padding-top: 0;
    }

    .hero-section {
        height: auto;
    }

    .hero-right-pic .hero-2 {
        display: none;
    }

    .hero-right-pic .hero-3 {
        display: none;
    }

    .hero-single {
        height: auto;
    }

    .hero-single .hero-content {
        padding-top: 4rem;
    }

    .hero-title {
        font-size: 3rem;
        line-height: 1.2;
        margin-bottom: 4rem;
    }

    .header-cart-btn {
        display: none;
    }

    .hero-right-pic {
        padding-left: 0;
    }

    .hero-right-pic .play-bt {
        left: 50%;
    }

    .hero-single .hero-content p {
        width: 90%;
    }

    .hero-single .hero-content .hero-btn {
        justify-content: flex-start;
        margin-top: 2rem;
        align-items: flex-start;
    }

    .hero-single .hero-right-pic {
        text-align: center;
        margin-top: 5rem;
    }

    .hero-social-move {
        top: -4rem;
    }

    .hero-social {
        height: 20rem;
        width: 20rem;
    }

    /* Hero 2*/

    .hero-single-2 {
        height: auto;
    }

    .hero-single-2 .hero-content {
        padding-bottom: 5rem;
        padding-right: 0;
        padding-top: 5rem;
    }

    /* About*/

    .about-title {
        line-height: 4rem;
        margin-bottom: 5rem;
    }

    .about-left {
        margin-top: -7px;
    }

    .about-left.style-2 {
        margin-top: -7px;
    }

    .about-right-pic .about-1 {
        margin-left: -5px;
    }

    .about-right-pic .about-2 {
        margin-left: -30px;
    }

    /* Service */

    .service-box-2 {
        flex-direction: column;
        text-align: center;
    }

    .anim-icons {
        display: none;
    }

    /* Portfolio*/
    .mix-item-menu {
        text-align: center;
    }

    .title-button {
        justify-content: flex-start;
        flex-direction: column;
    }

    .container-fluid.c-pd {
        padding: 0;
    }

    #portfolio-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .work-box .work-desc {
        padding: 2rem 0 1rem;
    }

    .title-button .site-title {
        margin-bottom: 50px;
        margin-top: -10px;
    }

    .partner-area.de-pb {
        padding-bottom: 5rem;
    }

    /* login  */
    .maan-user-account-wraper {
        margin: 0 0px;
        padding: 30px 15px;
    }

    .maan-user-account-wraper form .maan-input-group input {
        padding: 10px 25px;
        font-size: 16px;
    }

    .maan-user-account-wraper form .maan-input-group span {
        font-size: 18px;
    }

    .maan-user-account-wraper form .forget-pass {
        font-size: 16px;
    }

    .maan-user-account-wraper form .maan-primary-btn {
        font-size: 18px;
        padding: 15px;
    }

    .maan-user-account-wraper form {
        margin-top: 30px;
    }

    .maan-swetch-btn {
        width: 180px;
    }

    .maan-swetch-btn .login-btn {
        width: 103px;
        font-size: 16px;
    }

    .maan-swetch-btn .registration-btn {
        font-size: 16px;
    }

    /*	Latest Theme*/

    .container-fluid.c-pd {
        padding: 0 1rem;
    }

    .work-btns .btn-7 {
        display: none;
    }

    /*	Discover*/
    .discover-title {
        font-size: 40px;
    }

    .dicover-left {
        margin-top: -7px;
    }

    .dicover-left {
        margin-bottom: 3rem;
    }

    .discover-title {
        font-size: 3.6rem;
        line-height: 4.2rem;
        letter-spacing: 0.0025em;
        margin-bottom: 2rem;
    }

    /* profile  */
    .profile-area .icon-circle-1 {
        display: none;
    }

    /* ccn  */
    .ccn-left {
        margin-top: -14px;
    }

    /* how  */
    .how-wpr .how-shape {
        display: none;
    }

    /*	Why Choose Us*/

    .wh-left {
        padding-right: 0;
        margin-bottom: 3rem;
        margin-top: -11px;
    }

    .wh-left.wh-2_1 {
        margin-top: -5px;
        margin-bottom: 0;
    }

    .wh-box {
        padding: 4rem 3rem;
    }

    /*	Counter*/

    .counter-area {
        margin-top: 0;
    }

    .counter-wpr {
        padding: 5rem 2rem;
    }

    .fun-fact {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .fun-fact .fun-desc .medium {
        line-height: 30px;
    }

    /*  Review*/

    .feed-box {
        padding: 3rem;
    }

    /*	Blog*/

    .blog-box .blog-desc {
        padding: 1.5rem 0 0 0;
    }

    .blog-box .blog-meta ul {
        gap: 1rem;
    }

    /*Course*/

    .nav-pills .nav-link {
        margin-right: 2rem;
        margin-bottom: 2rem;
    }

    ul.course-li-1 li {
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
    }

    .course-li-1.li-2 {
        -webkit-column-count: 1;
        column-count: 1;
    }

    .course-syl-author ul li::before {
        display: none;
    }

    .course-video-wrp {
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
    }

    .course-item-name {
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
    }

    .course-item-name h5 {
        margin-left: 0;
    }

    .course-item-info a {
        margin-left: 0;
        margin-top: 8px;
    }

    .course-item-info span {
        display: block;
    }

    .course-over-fet {
        padding: 2rem;
    }

    .single-commentor-user {
        flex-direction: column;
        align-items: flex-start;
    }

    .course-info {
        padding: 1.5rem 1rem 1.5rem 1rem;
    }

    .course-syl-bottom {
        padding: 2rem 0;
    }

    .accordion-button {
        font-size: 1.4rem;
    }

    .course-over-bio {
        align-items: center;
        margin-bottom: 2rem;
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }

    .sidebar__banner {
        margin-top: 5rem;
    }

    /*  Footer  */

    .footer-widget-box.about-us {
        padding-right: 0;
    }

    .footer-widget-box.about-us {
        margin-top: -7px;
    }

    .copyright {
        align-items: flex-start;
        padding-bottom: 5rem;
        flex-direction: column;
        gap: 3rem;
        padding: 0 1rem 5rem 1rem;
    }

    /* FAQ*/

    .faq-wpr.grid-2 {
        grid-gap: 5rem;
    }

    /* Contact*/

    .contact-page-info.grid-2 {
        grid-gap: 5rem;
    }

    /*Author Single*/

    .author-bio-wrapper {
        padding: 3rem;
    }

    /*Blog*/

    .blog-single-info .blog-single-comment .blog-single-single {
        grid-template-columns: 1fr;
    }

    /*	Price*/

    .price {
        padding: 3rem 2rem;
    }

    .theme-bottom-price-btuoon {
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .theme-single-pill .nav-pills .nav-item .nav-link {
        line-height: 1.4;
    }

    .theme-info {
        padding: 0rem 1rem;
    }

    .theme-meta {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 2rem 0;
        margin-bottom: 3rem;
        flex-direction: column;
        gap: 2rem;
    }

    .theme-meta .theme-meta-left ul {
        display: flex;
        align-items: center;
        gap: 1rem;
        flex-direction: column;
    }

    .theme-meta .theme-meta-right {
        align-items: flex-start;
        gap: 2rem;
        flex-direction: column;
    }


    /*	Profile*/

    .enroll-single {
        justify-content: flex-start;
        flex-direction: column;
        gap: 2rem;
    }

    .enroll-single .enroll-pic-info {
        flex-direction: column;
        text-align: center;
    }

    /*	Pricing Box*/

    .price-box {
        padding: 4rem 2rem;
    }

    .grid-6 {
        grid-template-columns: repeat(1, 1fr);
    }

    /*	Career*/

    .part-single .part-single-content ul {
        grid-template-columns: 1fr;
    }

    .site-title-2 h2 {
        font-size: 30px;
        line-height: 42px;
        margin-top: -8px;
    }

    .part-right-bt {
        text-align: center;
        margin-top: 2rem;
    }

    /*	Seller*/

    .how-box {
        text-align: center;
        padding: 0 2rem;
    }

    .ccn-left p {
        padding-right: 0;
    }

    .ccn-contact {
        padding: 2rem;
    }

    /*	Single*/

    .de-bpd {
        padding-left: 0;
    }

    .single-comments-section.blg-single {
        padding: 2rem;
    }

    /*	Contact*/

    .contact-us-content {
        padding: 2rem;
    }

    .addds-single {
        text-align: center;
        flex-direction: column;
    }

    .pagination {
        margin-top: 3rem;
    }

    .pagination.cnt {
        margin: 5rem 0rem 0rem 0rem;
    }

    .single-sci-overlay a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .main-navigation .navbar.bsnav-sticky .navbar-collapse ul li a {
        color: #333;
    }
}

@media only screen and (max-width: 576px) {}
